.chat-topbar
  height: 61px
  border-bottom: 1px solid lightgrey

  .right__channel-infos
    font-size: $font-size-small

  .topbar__left

    svg, div
      margin: 0 5px

    svg
      cursor: pointer
      
    .topbar__searchbar
      border: 1px solid $dark-grey
      width: 180px
      height: 34px