$sidebar-width: 220px
$topbar-height: 61px
$post-message-wrapper-height: 70px

/*** COLORS ***/
$sidebar-background-purple: #4D394B
$sidebar-dark-purple: #3E313C
$sidebar-green: #4C9689
$sidebar-mention-red:	#EB4D5C
$sidebar-light-purple: #AB9BA9
$white: #FFFFFF
$dark-grey: #404040

/*** FONT-SIZE ***/
$font-size-xsmall: 1.0rem
$font-size-small: 1.4rem
$font-size-regular: 1.6rem
$font-size-large: 1.8rem