.create-channel
  .create-channel__toggle
    & > div:first-child,
      width: 80px !important
        
    & > div > div:first-child
      width: 80px !important

  .create-channel__name
    border: 1px solid $dark-grey
    border-radius: 6px
  
  .create-channel__name, .create-channel__users-selected
    max-height: 58px
    height: 58px
    overflow: auto
    
  .create-channel__button
    button
      font-size: $font-size-large
  