.chat
  width: calc(100% - #{$sidebar-width})

  .chat__container
    height: calc(100vh - (#{$topbar-height})
    
    .chat__content-postmessage-wrapper

      .chat__content-container
        flex: 1
        overflow: auto
        max-height: calc(100vh - (#{$topbar-height} + #{$post-message-wrapper-height}))

        .chat__content
      
      .chat__post-message-wrapper
        height: $post-message-wrapper-height